<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<script src="../static/js/mainJs.js"></script>
		<script src="../static/js/jquery-3.2.1.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../static/css/mainStyle.css" />
		<link rel="stylesheet" href="../static/css/bootstrap.min.css" />	
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="http://api.map.baidu.com/api?v=2.0&ak=SnLQ9dio5MmIOkhwPpW2Fkcx3Dp5MEcV"></script>
		
		<title>预约界面</title>
	</head>

	<body>
		<div id="carousel">
			<div id="carousel-left">
				<p>当前预约人数：12人</p>
			</div>
			<div id="carousel-right">
				<p>预约发车人数：20人</p>
			</div>
		</div>
		<!--header-->
		<div class="nav-box">
			<div>
				<a href="search.html">&lt;</a>
			</div>
			<div>
				<h4>十一路公交车</h4></div>
			<div>
				<button type="button" data-toggle="modal" data-target="#myModal">现在预约</button>
			</div>
		</div>
		<!--map-->
		<div id="allmap"></div>
		<!--预约弹出模态框-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
						<h4 class="modal-title" id="myModalLabel">现在就预约吧</h4>
					</div>
					<div class="modal-body text-center">
						<h4 class="modal-title text-center" id="myModalLabel">预付款 0.5元</h4>
						<form action="" method="get" class="text-center">
							<input name="Fruit" type="radio" value="" /> 余额付款
						</form>
						<button class="text-center btn btn-info btn-block" type="button">确定</button>
						<button class="text-center btn btn-info btn-block" type="button">取消</button>
					</div>
					<div class="modal-footer">
						<form action="" method="get" class="text-center">
							<input name="Fruit" type="radio" value="" />同意服务条款，预付款不可退回！
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="route">路况</div>
		<div class="route" style="margin: 40px auto;">周边</div>
		<div class="route" style="margin: 80px auto;">
			<a href="user.html">我</a>
		</div>
		<!--footer-->
		<div class="timer-box">
			<a href="BusInformation.html">查看时刻表</a>
		</div>
	</body>
	<script src="../static/js/map.js"></script>
</html>