<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script src="../static/js/mainJs.js"></script>
		<script src="../static/js/jquery-3.2.1.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../static/css/mainStyle.css" />
		<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="http://api.map.baidu.com/api?v=2.0&ak=SnLQ9dio5MmIOkhwPpW2Fkcx3Dp5MEcV"></script>
		<title>搜索目的地</title>
	</head>

	<body>
		<!--header-->
		<div class="user-header" style="background: #428bca;height: 10%;">
			<div class="header-left">
				<img style="height: 65px;width:65px;padding:10px;text-align: center" alt="" title="" src="../static/img/icon.jpg" />
			</div>
			<div class="header-center search-pos" id="your-position">
				<span>当前位置：河南理工大学<br/><p>目的地：焦作科技馆</p></span>
			</div>
		</div>
		<!--map-->
		<div id="allmap" style="height: 90%;"></div>
		<input class="search_input" type="search" placeholder="搜索您的目的地和服务">
		<div class="route">路况</div>
		<div class="route" style="margin: 40px auto;">周边</div>
		<div class="route" style="margin: 80px auto;">
			<a href="user.html">我</a>
		</div>
	</body>
	<script src="../static/js/map.js"></script>
</html>
